@import "styles/primary.scss";

:host{
    padding: 1rem;
}

.close__btn{
    border: 1px solid $color-primary;
    border-radius: 50%;
    padding: 8px 12px;
}

.validation-errors {
    .error {
        color: #c0392b;
        font-size: 14px;
    }
}