@import "styles/primary.scss";

.page__content {
    .page__content__tabs {
        display: inline-flex;
        gap: 0.5rem;
        padding: 8px;
        border-radius: 8px;
        background-color: #f1f1f1;

        .tab {
            background-color: $color-white;
            transition: all .2s;
            border-radius: 8px;
            font-size: 0.9em;
            width: 120px;
            padding: 0.5rem;
            text-align: center;
            cursor: pointer;

            &.active {
                background-color: $color-primary;
            }
        }
    }

    .orders__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1.5rem;
        margin-top: 1rem;

        .order__card {
            background: $color-white;
            border: 1px solid #d9dbe9;
            border-radius: 16px;
            padding: 16px;

            .card__top__content {
                display: flex;
                gap: 0.5rem;
                justify-content: space-between;
                padding: 10px 0.5rem;
                border-bottom: 1px solid #d9dbe9;

                .actions__icon {
                    position: relative;

                    .menu__icon {
                        text-align: center;
                        border: 1px solid $color-primary;
                        padding: 0.75rem;
                        border-radius: 8px;
                    }

                    .menu-list {
                        justify-content: center;
                        position: absolute;
                        border: 1px solid #dedede;
                        z-index: 5;
                        background: $color-white;
                        width: 115px;
                        margin-top: 4px;
                        padding-left: 0px;
                        list-style: none;
                        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.03);
                        text-align: center;
                        min-width: 115px;
                        right: 0;
                        left: auto;
                        top: 100%;
                        margin: 2px 0 0;
                        font-size: 14px;
                        background-clip: padding-box;
                        border-radius: 4px;

                        li {
                            cursor: pointer;
                            color: #000;
                            padding-top: 5px;
                            padding-bottom: 5px;

                            &:not(:last-child) {
                                border-bottom: 1px solid #dedede;
                            }

                            a {
                                display: flex;
                                gap: 0.5rem;
                                color: #000;
                                width: 100%;
                                text-align: left;
                                padding: 10px;
                                height: 35px;
                                border-left: 3px solid transparent;
                                line-height: 1;
                                font-weight: 400;
                                white-space: normal;
                                font-size: 0.8em;

                                &:hover {
                                    color: $color-primary;
                                }
                            }
                        }
                    }

                    .menu-list {
                        &::before {
                            content: " ";
                            border: 9px solid transparent;
                            position: absolute;
                            bottom: 100%;
                            border-bottom: 7px solid #dedede;
                            right: 2px;
                        }

                        &::after {
                            content: " ";
                            border: 9px solid transparent;
                            position: absolute;
                            bottom: 100%;
                            border-bottom: 7px solid transparent;
                            right: 0;
                            width: 100%;
                        }

                        &::hover {
                            border-left: 3px solid transparent;
                        }
                    }
                }
            }

            .card__bottom__content {
                display: flex;
                gap: 0.75rem;
                justify-content: space-between;
                padding: 10px 0;

                .order__item {
                    .order__value {
                        &.orange {
                            color: #f90 !important;
                        }

                        &.blue {
                            color: #0377ba !important;
                        }

                        &.red {
                            color: #c0392b !important;
                        }

                        &.green {
                            color: #1aa448 !important;
                        }
                    }
                }
            }

            .order__item {

                .order__label {
                    font-weight: 400;
                    font-size: 11px;
                    line-height: 16px;
                    color: #4e4b66;
                    margin-bottom: 3px;
                    opacity: .7;
                    white-space: nowrap;
                }

                .order__value {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    color: #14142b;
                    word-break: break-all;
                }
            }
        }
    }
}