@import "../../../styles/primary.scss";

.page__content {
    .sales__insights__numbers {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;

        .sales__count__card {
            background: $color-white;
            padding: 24px;
            border-radius: 16px;
            display: flex;
            gap: 1rem;
            width: inherit;

            .icon__box {
                background: $color-primary;
                padding: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
            }

            .sales__count {
                font-weight: 500;
                font-size: 1.25em;
            }

            .sales__card__description {
                color: rgba(7, 4, 23, 0.6);
                font-size: 0.7em;
            }
        }
    }

    .sales__insights__charts {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 1rem;
        width: 100%;

        .chart__card {
            background: $color-white;
            padding: 24px;
            border-radius: 16px;
            width: 100%;

            .chart__title {
                font-size: 1em;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                font-weight: 400;
                border-bottom: 1px solid #d9dbe9;
            }
        }
    }
}

@media screen and (min-width:768px) {
    .page__content{
        .sales__insights__charts{
            flex-direction: row;
            .chart__card{
                width: 50%;
            }
        }
        .sales__insights__numbers{
            flex-wrap: nowrap;
        }
    }
}